<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profit</title>
    <link rel="stylesheet" href="bulma.css">
    <style>
        table.result {
            width: 100%;
        }

        body {
            font-family: monospace;
        }
    </style>
</head>

<body>
    <div class="container">
        <br>
        <table style="margin: auto">
            <tr>
                <td>
                    <label class="label" for="initialBalance">Initial Balance</label>
                    <br>
                </td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <input class="input" id="initialBalance" type="number">
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="label" for="profit">Profit</label>
                    <br>
                </td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <div class="control has-icons-right">
                        <input class="input" id="profit" type="number">
                        <span class="icon is-small is-right">%</span>
                    </div>
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="label" for="count">Count</label>
                    <br>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                </td>
                <td>
                    <input class="input" id="count" type="number">
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="text-align: right">
                    <input id="run" type="button" value="run" class="button is-primary" style="display: inline-block">
                </td>
            </tr>
        </table>
        <div id="app">
            <div v-if="model.length">
                <hr>
                <table class="table is-striped" style="margin: auto">
                    <thead>
                        <th style="width: 200px">first balance</th>
                        <th style="width: 200px">profit</th>
                        <th style="width: 200px">final balance</th>
                    </thead>
                    <tbody>
                        <tr v-for="item in model">
                            <td>
                                {{ item.firstBalance.toFixed(3) }}
                            </td>
                            <td>
                                {{ item.profit.toFixed(3) }}
                            </td>
                            <td>
                                {{ item.finalBalance.toFixed(3) }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="vue.min.js"></script>
    <script>
        var model = {
            initialBalance: Number(document.getElementById('initialBalance').value) || 0,
            profit: Number(document.getElementById('profit').value) || 0,
            count: Number(document.getElementById('count').value) || 0,
            table: []
        }

        function wireup() {
            document.getElementById('initialBalance').addEventListener('input', function () {
                model.initialBalance = Number(this.value)
            })

            document.getElementById('profit').addEventListener('input', function () {
                model.profit = Number(this.value)
            })

            document.getElementById('count').addEventListener('input', function () {
                model.count = Number(this.value)
            })

            document.getElementById('run').addEventListener('click', function () {
                makeTableModel()
                app.model = model.table
            })
        }

        function calcProfit(balance, profit) {
            return balance * profit / 100
        }

        function calcFinalBalance(balance, profit) {
            return balance + calcProfit(balance, profit)
        }

        function makeTableModel() {
            model.table = []
            if (model.count < 1)
                return
            var firstBalance = model.initialBalance

            for (var i = 0; i < model.count; i++) {
                var profit = model.profit
                var finalBalance = calcFinalBalance(firstBalance, profit)

                model.table.push({
                    firstBalance: firstBalance,
                    profit: calcProfit(firstBalance, profit),
                    finalBalance: finalBalance
                })

                firstBalance = finalBalance
            }
        }

        wireup()

        var app = new Vue({
            el: '#app',
            data: {
                model: []
            }
        });
    </script>
</body>

</html>